exportPattern("^[[:alpha:]]+")
export(print.itinerary)
export(coordinate)
export(distance)
export(make_itinerary)
export(write.csv)
export(merge_state_summit)
export(plot_mountains_above_2500ft)
export(summits)
